

header{
    background-color: #232f3e;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
}
.btn{
    padding: 10px 30px;
    border-radius: 200px;
    background-color: rgb(75, 88, 88);
}
