

header{
    background-color: #232f3e;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    display: inline-block;
}
.btn{
    padding: 10px 30px;
    border-radius: 200px;
    background-color: rgb(75, 88, 88);

}

.search__container{
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 20px;

}
.row2 {

    height: 300px;
    width: 50%;
    display: inline-block;
    align-content: center;
   
    // padding: 5px;

}