.nav {
        display: flex;
        justify-content: flex-end;
        display: block;
        background-color: #232f3e;
        padding: 5%;
        width: 100%;
        height: 10%;
}
// .carousel1{
//     width: 100%;
//     height: 30%;
//     background-color: red;
// }
h1 {
    color: white;
  }